<div class="one">
    <h1>Offers</h1>
</div>
<div class="container filter">
    <div class="search form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" [(ngModel)]="searchValue" (input)="applyFilters()">
        <button class="btn btn-secondary my-2 my-sm-0" style="width: 11em;" type="submit" (click)="applyFilters()">Search</button>
    </div>
    <div style="display: flex;">
        <div class="box">

            <div class="item">
                <div class="toggle-pill-color">
                    <label class="filter-name">Room</label>
                    <div>
                        <input type="checkbox" id="pill1" name="check" [(ngModel)]="roomEnabled" (click)="onRoomSwitch()">
                        <label for="pill1"></label>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="toggle-pill-color">
                    <label class="filter-name">House</label>
                    <div>
                        <input type="checkbox" id="pill2" name="check" [(ngModel)]="houseEnabled" (click)="onHouseSwitch()">
                        <label for="pill2"></label>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="toggle-pill-color">
                    <label class="filter-name">Garage</label>
                    <div>
                        <input type="checkbox" id="pill3" name="check" [(ngModel)]="garageEnabled" (click)="onGarageSwitch()">
                        <label for="pill3"></label>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="toggle-pill-color">
                    <label class="filter-name">Terrain</label>
                    <div>
                        <input type="checkbox" id="pill4" name="check" [(ngModel)]="terrainEnabled" (click)="onTerrainSwitch()">
                        <label for="pill4"></label>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-body">
            <div id="price-range-form">
                <div class="rangeDiv">
                    <span id="rangeValue">{{minPrice}}$</span>
                    <input class="range" type="range" value="0" min="-1000" max="10000" [(ngModel)]="minPrice" (ngModelChange)="applyFilters()" />
                </div>

                <div class="rangeDiv">
                    <span id="rangeValue">{{maxPrice}}$</span>
                    <input class="range" type="range" value="10000" min="-1000" max="10000" [(ngModel)]="maxPrice" (ngModelChange)="applyFilters()" />
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container card-container">
    <app-offer-card *ngFor="let offer of filteredOffer" [offer]="offer"></app-offer-card>
</div>