  <!-- Jumbotron -->
  <div class="img-background p-5 text-center">
    <h1 class="mb-3">Welcome to RealEstate agency!</h1>
    <h4 class="mb-3">Here you will find the home of your dreams</h4>
    <a class="btn btn-primary" role="button" routerLink="/offers">click to see all proposals</a>
  </div>
  <!-- Jumbotron -->

<!-- <h1>Hi {{currentUser?.firstName ?? 'new user'}}!</h1>
<p>You're logged in with Angular 8!!</p>
<h3>All registered users:</h3>
<ul>
    <li *ngFor="let user of users">
        {{user.login}} ({{user.firstName}} {{user.lastName}})
        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li>
</ul> -->