.one h1 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
    font-family: 'Exo', sans-serif;
  }
  .one h1:before {
    width: 28px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -14px;
    background-color: #b80000;
  }
  .one h1:after {
    width: 100px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 25px;
    left: 50%;
    margin-left: -50px;
    background-color: #b80000;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }