<div class="card" style="width: 18rem;">
    <img [src]="avatar" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{realtor.firstname}} {{realtor.middlename}} {{realtor.lastname}}</h5>
      <p class="card-text">I have {{realtor.experience}} years experience making people happy living in their own homes!</p>
      <p class="card-text"><i class="fa-solid fa-thumbtack"><strong>Agency</strong> – {{agency.name}}</i></p>
      <a href="#" class="btn btn-primary">Know More</a>
    </div>
  </div>
