body {
    margin: 3em;
  }
  .card-img-top {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    object-fit: cover;
  }
  .card {
    padding: 1.5em 0.5em 0.5em;
    text-align: center;
    border-radius: 2em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    height: 500px;
  }
  .card-title {
    font-weight: bold;
    font-size: 1.5em;
  }
  .btn-primary {
    border-radius: 2em;
    padding: 0.5em 1.5em;
  }
  