<div class="container">
    <div class="profile-header">
      <div class="profile-img">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp" width="200" alt="Profile Image">
      </div>
      <div class="profile-nav-info">
        <h3 class="user-name">{{user.firstname}} {{user.middlename}} {{user.lastname}}</h3>
        <div class="address">
          <p id="state" class="state">{{userRole}}</p>
        </div>
  
      </div>
      <div class="profile-option">
        <div class="notification">
          <i class="fa fa-bell"></i>
          <span class="alert-message">3</span>
        </div>
      </div>
    </div>
  
    <div class="main-bd">
      <div class="left-side">
        <div class="profile-side">
          <p class="mobile-no"><i class="fa fa-phone"></i> {{user.telephone}}</p>
          <p class="user-mail"><i class="fa fa-envelope"></i> {{user.email}}</p>
          <div class="user-bio">
            <h3>About</h3>
            <p class="bio">
              Hi, I'm {{user.login}}! And I am {{userRole}} on this site! Nice to meet ya, honey :)
            </p>
          </div>
          <div class="profile-btn">
            <a class="btn btn--form chatbtn" (click)="goToEditPage()">Edit</a>
            <a class="btn btn--form createbtn" routerLink="/preferences">Favorites</a>
          </div>
        </div>
  
      </div>
      <div class="right-side">
  
        <div class="nav">
          <ul>
            <li class="user-post active">My offers</li>
          </ul>
        </div>
        <div class="profile-body">
          <div class="profile-posts tab">
            <div *ngIf="userOffers.length" class="container card-container">
                <app-offer-card *ngFor="let offer of userOffers" [offer]="offer" [canEdit]="true"></app-offer-card>
            </div>
            <div *ngIf="!userOffers.length">
                <p>There are no offers yet!</p>
            </div>
            <a class="btn btn--form preferences" routerLink="/createOffer">Create new offer!</a>
          </div>
        </div>
      </div>
    </div>
  </div>