/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

.special {
    color: #bb8e3b !important;
}

.navbar-brand {
    margin-left: 10%;
}

.container-fluid {
}

header {
    justify-content: space-between;
    font-size: large;
    font-family: 'Exo', sans-serif;
}

.search {
    margin-right: 10%;
}

.mr-sm-2, .mx-sm-2 {
    margin-right: 0.5rem !important;
}

.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.5rem + 0px);
    padding: 0.75rem 1.5rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #55595c;
    background-color: #f7f7f9;
    background-clip: padding-box;
    border: 0px solid #ced4da;
    border-radius: 0;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn {
    display: inline-block;
    font-weight: 600;
    color: #55595c;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 0px solid transparent;
    padding: 0.75rem 1.5rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
    border-radius: 0;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn-secondary {
    color: #1a1a1a;
    background-color: #fff;
    border-color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.55);
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}

.align-items-center {
    align-items: center!important;
}

.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: .5rem 0;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .5rem;
}

.dropdown-menu {
    color: #4f4f4f;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
    box-shadow: 0 2px 15px -3px rgba(0,0,0,.07),0 10px 20px -2px rgba(0,0,0,.04);
    font-size: large;
}

li {
    margin: 5px 15px 10px 5px;
    list-style: none;
}

.avatar {
    margin-right: 10%;
}

.navbar-nav .dropdown-menu {
    position: static;
}

.navbar-nav .dropdown-menu {
    position: absolute;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
}

.dropdown-menu>li:first-child, .dropdown-menu>li:first-child .dropdown-item {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.dropdown-menu.show {
    display: block;
}

.img-background {
    background-image: url(https://images.pexels.com/photos/6707628/pexels-photo-6707628.jpeg);
    height: 1000px;
    background-size: contain;
}

h1 {
    font-weight: 1000;
    color: rgb(98, 53, 46);
}

h4 {
    color: #6f564b;
}


:not(.btn-check) + .btn:hover, .btn:first-child:hover {
    color:rgb(224, 224, 224);
    background-color:rgb(98, 53, 46);
    border-color:rgb(98, 53, 46);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
